.page-header{
 font-family:Times New Roman, Times, serif;
 font-weight:bold;
 font-size:45px;
 color:#4cbb17 ;
}
.navbar-brand{
width:180px;
}
.full{
 border-radius:100%;
}

p{
 font-family:courier;
 font-size:20px;
 color:black;
}
.caption{
color:red;
font-family:courier;
font-weight:bold;
}
.a{
color:red;
font-weight:bold;
}
h1{
color:red;
font-weight:bold;
}
img {
  border-radius: 50%;
}
 
