.page-header{
 font-family:Times New Roman, Times, serif;
 font-weight:bold;
 font-size:45px;
 color:#cbd3d0;
}
.navbar-brand{
width:180px;
}
.page-header{
 color:76, 187, 23;
}

p{
 font-family:courier;
 font-size:20px;
 color:black;
}
.caption{
color:red;
font-family:courier;
font-weight:bold;
}
.a{
color:red;
font-weight:bold;
}
.button-calc{
color:green;
width:350px;
length:450px;
border-radius:25%;
}
h1{
color:red;
font-weight:bold;
}
h2{
  color:gray;
}
.special{
 border-radius:25%;

.kelly-green{
 background-color:76, 187, 23;
}
#tip-content{
background-color:navy;
}
.container-fluid{
  border-radius: 15%;
  background-color: navy;
  margin-left: 32%;
  margin-right: 32%;
}

