.page-header{
 font-family:Times New Roman, Times, serif;
 font-weight:bold;
 font-size:45px;
 color:#cbd3d0;
}
.navbar-brand{
width:180px;
}
.page-header{
 color:76, 187, 23;
}
.unit-or{
  background-color:gold;
}

p{
 font-family:courier;
 font-size:20px;
 color:black;
}
.caption{
color:red;
font-family:courier;
font-weight:bold;
}
.a{
color:red;
font-weight:bold;
}
.button-calc{
color:green;
width:350px;
length:450px;
border-radius:25%;
}
h1{
color:red;
font-weight:bold;
}
h2{
  color:gray;
}
.special{
 border-radius:25px;
}
.kelly-green{
 background-color:76, 187, 23;
}
#tip-content{
background-color:navy;
border-radius:5px;
margin-left:25%;
margin-right:25%;
border-color:black;
border-width:12px;
border-style: solid;
}
#tip-title{
background-color:black;
border-radius:5px;
border-color:black;
border-width:12px;
border-style: solid;
}
.container-fluid{
  border-radius:5px;
  background-color: white;
  margin-left: 32%;
  margin-right: 32%;
}
#MyClockDisplay{
  color: green;
  border-radius: 6px;
  font-weight: bold;
}
